body {
  background-color: #dedede;
  background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.03) 99%),
radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.03) 99%);
background-size:30px 30px;
background-position:0 0, 15px 15px;
  overflow: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 630px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 10px;
}

h1 {
  width: 30%;
  line-height: 60px;
  vertical-align: middle;
  text-align:center;
  font-family: 'Pacifico', cursive;
  letter-spacing:2px;
  font-weight: 100;
}

.me {
  width: 30%;
  height: 65%;
  float: right;
  background-image: url("../img/ja.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.me img {
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
  transition: linear 0.7s;
}


/*.me::before {
  content: '';
    background-image: url(../img/quest.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 265px;
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 50px;
}*/

.me img:hover {
  -ms-transform: scale(2, 3);
  /* IE 9 */
  -webkit-transform: scale(2, 3);
  /* Safari */
  transform: scale(1.8, 1.8);
}

.story {
  width: 30%;
  height: 55%;
  background-image: url("../img/rus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.story:hover {
  /*-webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
    filter: grayscale(100%);*/
  background-image: url("../img/rus2.jpg");
}

.skills {
  height: 250px;
  width: 30%;
  background-image: url("../img/skills.jpg");
   background-size: cover;
   background-repeat: no-repeat;
  background-position: bottom;
  transition: ease 0.5s;
}
.skills:hover {
  background-position:center;
}
.projects {
  height: 510px;
  width: 30%;
 background-image: url("../img/project1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
  background-position: bottom;
}
.projects:hover {
  background-image: url("../img/project2.jpg");
}

.left {
  width: 25%;
  position: absolute;
  top: 0;
  left:0;
}

.right {
  width: 75%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.animated {
  height: 100%;
  display: inline-block;
  margin: 0;
}

#content {
  height: 100%;
  width: 100%;
  background-image: url(img/car.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none;
}

.right a {
  float: right;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  margin-top: 10px;
  margin-right: 15px;
  font-family: 'Lato', sans-serif;
}

.contact {
  height: 200px;
  width: 30%;
  background-color: #E5BBA6;
  display: flex;
}

.contact img {
  height: 70px;
  margin: auto;
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz {
  display: flex;
  width: 100%;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#story-left {
  background:#ece408;
}
#skill-left {
  background: #2cc184;
}
#contact-left {
  background: #e5bba6;
}
#me-left {
  background: #ff3334;
}
#project-left {
  background: #1c83d6;
}
[id$="-right"] {
  background: #0a0a0a;
}
/*-------------Skills-----------*/
.heading {
  font-size:70px;
 margin:0 auto;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 200px;
  right:-200px;
  width:500px;
  font-family: 'Lato', sans-serif;
}
/*-----------Projects-----------*/
.project-container {
  height:480px;
  width:480px;
  margin:auto;
  margin-top:120px;
}
.project-container a {
  height:125px;
  width:140px;
  background-size:100%;
  background-position:bottom;
  transition: linear 0.2s;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  position:relative;
}
.project-container a:hover {
  filter:none;
}
.sitonchair {
  background-image: url("../img/sitonchair.png");
  left:-30px;
  bottom:-70px;
}
.bhaga {
  background-image: url("../img/bhagaskara.png");
}
.shopping {
  background-image: url("../img/shoppinglist.png");
  left:-155px;
}
.bike {
  background-image: url("../img/bike.png");
}
.mail {
  background-image: url("../img/mail.png");
  right:-30px;
  bottom:-70px;
}
.oldPort {
  background-image: url("../img/oldPortfolio.png");
  left:-30px;
  bottom:-70px;
}
.newPort {
  background-image: url("../img/newPortfolio.png");
  right:-30px;
  bottom:-70px;
}

